@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1
    color: #044d0e
    text-align: center
    background: #856e09
    font-size: 50px
    padding: 100px
    letter-spacing: 10px    
    font-family: 'Lobster',